@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
    
}

.container{
    width: 80vw;
    margin:auto;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    
}

#produtos{
    display:flex;
    flex-wrap: wrap;

}

#carrinho{
    margin-bottom: 50px;
}

.card-prod{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 23%;
    
}
.card-prod a{
    display: inline-flexbox;
    padding: 15px;
    flex-direction: row;
    text-decoration: none;
    color: rgba(0, 0, 255, 0.521);
}
.card-prod img{
    width: 250px;
    object-fit: cover;
   
}